--extra-index-url https://download.pytorch.org/whl/cu121
accelerate~=0.30.1
fastapi~=0.111.0
gunicorn~=22.0.0
langchain_huggingface~=0.0.1
pydantic~=2.7.2
torch==2.3.0+cu121
transformers~=4.41.1
uvicorn[standard]~=0.30.0